

.item {
  margin-bottom: 8px;
  position: relative;
}

.nodes {
  position: absolute;
  left: 36px;
  top: 0px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(224, 224, 224);
  display: grid;
  width: 120px;
  font-size: 12px;
  padding: 6px;

  .node {
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}