

.item {
  margin-bottom: 8px;
  position: relative;
}

.nodes {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(224, 224, 224);
  display: grid;
  font-size: 12px;
  left: 36px;
  padding: 6px;
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 240px;

  .node {
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}