
.rederArea {
  position: relative;
  height: 300px;
  width: 300px;
  background: #fff;
  margin: 4px 0;
  border-radius: 4px;
  overflow: hidden;
}

.fpsContainer {
  text-align: right;
  margin: 4px 0;
}

.control {
  margin: 4px 0;
}