
.rederArea {
  position: relative;
  height: 300px;
  width: 300px;
  background: #fff;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.fpsContainer {
  text-align: right;
}

.control {
  margin: 4px;
}