$SIDEBAR_WIDTH: 308px;

.board {
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: $SIDEBAR_WIDTH;
  width: calc(100vw - $SIDEBAR_WIDTH);
}

.sidebar {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: $SIDEBAR_WIDTH;

  .title {
    color: white;
    padding: 8px 4px;
  }
}

.codeModal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 100000;

  pre {
    margin: 0 auto;
  }
}